extends ../layout.pug

block variables
  -var title = 'Color';
  -var page = 'color';

block content
  h2(class='section-title') Base
  div(class='color-items')
    each color in baseColors
      div(class=`color-item color-item--base-${color.name} ${color.bordered === 'true' ? 'color-item--bordered' : ''}`)
        span(class='color-item__color')
        span(class='color-item__caption')= color.name
  h2(class='section-title') Selection
  div(class='color-items')
    each color in selectionColors
      div(class=`color-item color-item--selection-${color.name} ${color.bordered === 'true' ? 'color-item--bordered' : ''}`)
        span(class='color-item__color')
        span(class='color-item__caption')= color.name
  h2(class='section-title') Alert
  div(class='color-items')
    each color in alertColors
      div(class=`color-item color-item--alert-${color.name} ${color.bordered === 'true' ? 'color-item--bordered' : ''}`)
        span(class='color-item__color')
        span(class='color-item__caption')= color.name
  h2(class='section-title') Button
  div(class='color-items')
    each color in btnColors
      div(class=`color-item color-item--btn-${color.name} ${color.bordered === 'true' ? 'color-item--bordered' : ''}`)
        span(class='color-item__color')
        span(class='color-item__caption')= color.name
  h2(class='section-title') Form
  div(class='color-items')
    each color in formColors
      div(class=`color-item color-item--form-${color.name} ${color.bordered === 'true' ? 'color-item--bordered' : ''}`)
        span(class='color-item__color')
        span(class='color-item__caption')= color.name
  h2(class='section-title') Table
  div(class='color-items')
    each color in tableColors
      div(class=`color-item color-item--table-${color.name} ${color.bordered === 'true' ? 'color-item--bordered' : ''}`)
        span(class='color-item__color')
        span(class='color-item__caption')= color.name

