-var time = Date.now();
-var page = 'colors';

<!DOCTYPE html>
html(lang='en' data-theme-mode='dark')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Spruce CSS Development Preview
    link(rel='stylesheet' href=`../assets/css/main.css?time=${time}`)
    link(rel='icon' href='../assets/img/favicon-32x32.png' type='image/png')
  body
    header(class='site-header')
      div(class='site-header__container')
        a(href='#')
          img(src='../assets/img/spruce-logo-light.svg' class='site-header__logo')
        h1(class='site-header__title') Colors
    main(class='site-main')
      div(class='site-main__container')
        div(class='site-main__inner')
          aside(class='site-main__sidebar')
            ul(class='sidebar-navigation')
              li
                a(href='index.html' aria-current=page === 'colors' ? 'page' : '') Colors
              li
                a(href='#' aria-current=page === 'typography' ? 'page' : '') Typography
              li
                a(href='#' aria-current=page === 'tables' ? 'page' : '') Tables
              li
                a(href='#' aria-current=page === 'media' ? 'page' : '') Media
              li
                a(href='#' aria-current=page === 'buttons' ? 'page' : '') Buttons
              li
                a(href='#' aria-current=page === 'forms' ? 'page' : '') Forms
              li
                a(href='#' aria-current=page === 'mixins' ? 'page' : '') Mixins
              li
                a(href='#' aria-current=page === 'appendix' ? 'page' : '') Appendix
          div
            include components/colors
            include components/typography
            include components/tables
            include components/media
            include components/buttons
            include components/forms
            include components/mixins
