-var time = Date.now();

block variables

<!DOCTYPE html>
html(lang='en' data-theme-mode='dark')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Spruce CSS Development Preview
    link(rel='stylesheet' href=`../../assets/css/main.css?time=${time}`)
    link(rel='icon' href='../../assets/img/favicon-32x32.png' type='image/png')
  body
    main(class='site-main')
      div(class='site-main__container')
        div(class='site-main__inner')
          aside(class='site-main__sidebar')
            ul(class='sidebar-navigation')
              li
                a(href='color.html' aria-current=page === 'color' ? 'page' : '') Color
              li
                a(href='typography.html' aria-current=page === 'typography' ? 'page' : '') Typography
              li
                a(href='table.html' aria-current=page === 'table' ? 'page' : '') Table
              li
                a(href='media.html' aria-current=page === 'media' ? 'page' : '') Media
              li
                a(href='button.html' aria-current=page === 'button' ? 'page' : '') Button
              li
                a(href='form.html' aria-current=page === 'form' ? 'page' : '') Form
              li
                a(href='mixin.html' aria-current=page === 'mixin' ? 'page' : '') Mixin
          div(class='site-main__body')
            h1(class='site-title')= title
            div(class='site-main__content')
              block content
